* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora";
}

/* Header */

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  gap: 7px;
}

#logo-icon {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-title {
  font-size: 1.625rem;
  font-weight: bolder;
}

/* Main container */

main {
  max-width: 600px;
  margin: 4rem auto;
}

#main-content {
  width: 100%;
  height: 600px;
}

/* Header Form */

#back-button a {
  color: #ca3884;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

#header-form {
  margin: 1rem 0 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#list-title {
  font-size: 1.625rem;
  margin-bottom: 2.75rem;
}

#form {
  margin-bottom: 2rem;
}

#form #form-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 44px;
}

#input-items {
  flex: 1;
  height: 100%;
  border: 2px solid #d1d5db;
  border-radius: 0.75rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}

#input-items::placeholder {
  color: #9ca3af;
}

#add-btn {
  width: 166px;
  height: 100%;
  border: none;
  border-radius: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background-color: #ca3884;
  cursor: pointer;
  transition: 0.4s;
}

#add-btn:hover {
  background-color: #d65d9b;
}

/* Lista */

#main-list {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin-bottom: 2.25rem;
}

#main-list li {
  font-size: 1.2rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-check {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:checked {
    background-color: #ca3884;
    border: none;

    &::after {
      content: "\2713";
      font-weight: 800;
      font-size: 0.6rem;
      color: white;
      line-height: 1;
    }
  }
}

#main-list li p {
  flex: 1;
  color: #374151;
  flex: 1;
}

#message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remove-icon {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.message-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-right: 1rem;
  font-weight: normal;
}

.message-text-remove {
  padding: 1rem;
  background-color: #ff5050;
  color: #fff;
  font-weight: bold;
  border-radius: 0.75rem;
  display: none;
}

.message-text-add {
  padding: 1rem;
  background-color: #0011ff;
  color: #fff;
  font-weight: bold;
  border-radius: 0.75rem;
  display: none;
}

.message-text-remove .message-icon {
  color: #ff5050;
}
.message-text-add .message-icon {
  color: rgb(0, 26, 255);
}
